.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.optionContainer {
  display: flex;
}
@media screen and (max-width: 1080px) {
  .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 789px) {
  .optionContainer {
    flex-direction: column;
  }
}
