.container {
  padding: 2% 5%;
}
.subNav {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-between;
}
.subNav p:nth-child(2) {
  font-size: 14px;
  color: #989898;
}
.itemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pagination {
  display: flex;
  justify-content: space-between;
  margin: 35px 0;
  font-size: 18px;
}
.pagination button {
  border: none;
  background: transparent;
  color: #3f3f3f;
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.prevBtn img {
  margin-right: 8px;
  transform: rotate(180deg);
}
.nextBtn img {
  margin-left: 8px;
}
.pageNumber {
  display: flex;
  align-items: center;
}
.pageNumber div {
  margin: 0 4px;
}
.pageNumber div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  min-width: 20px;
  padding: 0 5px;
  border: 1px solid #3f3f3f;
  border-radius: 3px;
}
